* {
    --background-primary: #131c26;
    --background-secondary: #1e2630;
    --background-tertiary: #28313b;
    --color-primary: #ecf1f9;
}

:root {
    --color-background-default: var(--background-primary) !important;
    --color-text-icon-default: var(--color-primary) !important;
    --g-colorGray0Hovered: var(--background-tertiary) !important;
    --g-colorGray0Active: var(--background-tertiary) !important;
    --g-colorGray100Hovered: var(--background-tertiary) !important;
    --g-colorGray100Active: var(--background-tertiary) !important;
    --g-colorTransparentWhite: var(--background-tertiary) !important;
    --color-background-secondary-base: var(--background-secondary) !important;
    --color-text-default: var(--color-primary) !important;
}

html {
    background-color: var(--background-primary) !important;
    color: var(--color-primary) !important;
}

div[data-test-id="flashlight-button"] {
    background-color: var(--background-secondary) !important;
}

.bPW {
    background-color: var(--background-tertiary) !important;
}

textarea, span {
    color: var(--color-primary) !important;
}

.Jea.KS5.xcv.L4E.zI7.iyn.Hsu {
    gap: 5px !important;
}

.KS5.hs0.jx-.ujU.un8.C9i.TB_ {
    padding: 0 10px !important;
}


.fev[role="button"]:hover {
    background-color: var(--background-tertiary) !important;
}

.adn {
    color: var(--color-primary) !important
}

.App .footerButtons button > div {
    background-color: var(--background-secondary) !important;
}

.CKL {
    color: var(--background-primary) !important;
}

.fev {
    background-color: var(--background-secondary) !important;
}

.fev ::placeholder {
    color: var(--color-primary) !important;
}

.Oii, html:not([dir="rtl"]) .zDA, html[dir="rtl"] .PON {
    color: var(--color-primary) !important;
}

.pBj {
    color: var(--color-primary) !important;
}

.site {
    color: var(--color-primary) !important;
}

.ygj {
    background-color: var(--background-primary) !important;
    border-color: var(--background-secondary) !important;
}

.yTZ {
    color: var(--color-primary) !important;
}